<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.base.springboot.mapper.HeadLinesMapper">
  <resultMap id="BaseResultMap" type="com.hui.base.springboot.model.HeadLines">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="webid" jdbcType="INTEGER" property="webid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_news_headlines
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hui.base.springboot.model.HeadLines">
    insert into t_news_headlines (id, title, webid, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{webid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hui.base.springboot.model.HeadLines">
    update t_news_headlines
    set title = #{title,jdbcType=VARCHAR},
      webid = #{webid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, title, webid, create_time
    from t_news_headlines
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, webid, create_time
    from t_news_headlines
  </select>
</mapper>