<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.base.springboot.mapper.WebSiteMapper">
  <resultMap id="BaseResultMap" type="com.hui.base.springboot.model.WebSite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="webid" jdbcType="INTEGER" property="webid" />
    <result column="connection_url" jdbcType="VARCHAR" property="connectionUrl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag_key" jdbcType="VARCHAR" property="tagKey" />
    <result column="tag_value" jdbcType="VARCHAR" property="tagValue" />
    <result column="selective" jdbcType="VARCHAR" property="selective" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_website
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hui.base.springboot.model.WebSite">
    insert into t_website (id, webid, connection_url, 
      name, tag_key, tag_value, 
      selective)
    values (#{id,jdbcType=INTEGER}, #{webid,jdbcType=INTEGER}, #{connectionUrl,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{tagKey,jdbcType=VARCHAR}, #{tagValue,jdbcType=VARCHAR}, 
      #{selective,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hui.base.springboot.model.WebSite">
    update t_website
    set webid = #{webid,jdbcType=INTEGER},
      connection_url = #{connectionUrl,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      tag_key = #{tagKey,jdbcType=VARCHAR},
      tag_value = #{tagValue,jdbcType=VARCHAR},
      selective = #{selective,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, webid, connection_url, name, tag_key, tag_value, selective
    from t_website
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, webid, connection_url, name, tag_key, tag_value, selective
    from t_website
  </select>
</mapper>