<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.base.springboot.mapper.WordsMapper">
  <resultMap id="BaseResultMap" type="com.hui.base.springboot.model.Words">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="webid" jdbcType="INTEGER" property="webid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="count" jdbcType="BIGINT" property="count" />
    <result column="today_count" jdbcType="BIGINT" property="todayCount" />
    <result column="hotday" jdbcType="BIGINT" property="hotday" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_news_words
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hui.base.springboot.model.Words">
    insert into t_news_words (id, webid, content, 
      count, today_count, hotday, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{webid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{count,jdbcType=BIGINT}, #{todayCount,jdbcType=BIGINT}, #{hotday,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hui.base.springboot.model.Words">
    update t_news_words
    set webid = #{webid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      count = #{count,jdbcType=BIGINT},
      today_count = #{todayCount,jdbcType=BIGINT},
      hotday = #{hotday,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, webid, content, count, today_count, hotday, create_time
    from t_news_words
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, webid, content, count, today_count, hotday, create_time
    from t_news_words
  </select>
</mapper>